<div class="row">
  <div class="row">
    <mat-paginator
      [length]="length"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="loadPage($event)"
    >
    </mat-paginator>
    <button mat-mini-fab color="blue" (click)="createDialog(null)">
      <b>+</b>
    </button>
  </div>
  <hr />
  <table mat-table [dataSource]="products">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let product">{{ product.name }}</td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let product">{{ product.description }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td class="actions" mat-cell *matCellDef="let product">
        <button mat-raised-button color="accent" (click)="edit(product)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-raised-button color="warn" (click)="delete(product.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
