<form [formGroup]="formGroup" role="form">
  <div class="example-container">
    <mat-dialog-content>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="product name" formControlName="name" [value]="product.name" />
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          placeholder="product description"
          formControlName="description"
          [value]="product.description"
        ></textarea>
      </mat-form-field>
      <div class="button-bar">
        <span class="button">
          <button type="submit" mat-button color="primary" (click)="save()">Save <i class="fa fa-save"></i></button>
        </span>
        <span class="button">
          <button type="cancel" mat-raised-button color="accent" (click)="close()">
            Cancel <i class="fa fa-save"></i>
          </button>
        </span>
      </div>
    </mat-dialog-content>
  </div>
</form>
<pre>
  This is what we are sending to the API:
  {{ formGroup.value | json }}
</pre>
