<div class="container">
  <mat-card>
    <a [routerLink]="['inventory']">Product Inventory</a>
    <mat-card-content>
      <router-outlet></router-outlet>
    </mat-card-content>
  </mat-card>
</div>
